.product-card {
    position: relative;
    width: 200px;
}

.product-card__img {
    height: 270px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.product-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s linear;
}

.product-card:hover .product-card__img img {
    transform: scale(1.1);
}

.product-card__language {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.product-card__title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.product-card__title:hover {
    color: var(--clr-secondary);
}

.product-card__author {
    font-size: .8rem;
    font-style: italic;
    opacity: .7;
    margin-bottom: 6px;
}

.product-card__rating-icon {
    color: gold;
}

.product-card__rating {
    font-weight: 500;
}

.product-card__cover {
    font-size: .8rem;
    opacity: .7;
    transform: translateY(2px);
    text-transform: capitalize;
}

.product-card__price {
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
}

.product-card__cart-btn {
    font-size: 1rem;
    height: 35px;
    width: 55px;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.product-card__cart-btn i {
    transform: translateX(-1px);
}

.add-to-cart {
    background: var(--clr-secondary);
    color: var(--clr-primary);
}

.add-to-cart:hover {
    background: var(--clr-primary);
    color: var(--clr-secondary);
}
